<nav class="site-nav">
  <a class="brand" [routerLink]="['/home']">{{company}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-links" id="mainNavigation">
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/destinations']">Destinations</a>
    <a [routerLink]="['/about-us']">About</a>
    <a [routerLink]="['/contact-us']">Contact</a>
  </div>
</nav>
